<!DOCTYPE html>
<html>
    <%- include('./partial/head.ejs')%>
<body>
    <%- include('./partial/nav.ejs')%>
    <div class="e404-content">
    <div class="text">
        <h1>404 ERROR</h1>
        <p>oops! The cat ate your file again.</p>
        </div>
        <img src="./img/error.png" alt="cat picture">
    </div>
    <%- include('./partial/footer.ejs')%>
</body>
</html>