<!DOCTYPE html>
<html>
    <%- include('./partial/head.ejs')%>
<body>
    <%- include('./partial/nav.ejs')%>

    <div class="about-content">
        <h1>About-Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, corrupti qui vero ipsa ratione maiores repudiandae vel assumenda. Ex asperiores quas dolore quod exercitationem vitae magnam tempora necessitatibus quae repellat!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat odio corporis suscipit accusamus soluta voluptates est natus quidem quisquam optio, amet reiciendis illo, molestiae totam esse. Ad amet sunt nemo!</p>
    </div>
    <%- include('./partial/footer.ejs')%>
</body>
</html>